.artist-modal{
    position: absolute;
            left: 200px;
            top: 220px;
            z-index: 2;
            width: 500px;
            height: 400px;
            border: 2px solid black;
            opacity: 0.3;
            border-radius: 2px;
            
}

